/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    margin-top: 0;
    min-width: 1200px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    color: #FFF;
    width: 100%;
    text-align: center;
}

.container {
    text-align: left;
    height: 100%;
    margin: auto;
    background-color: #FFF;

}

.content {
    margin: auto;
    padding: 0 10px;
    padding-bottom: 40px;
    width: 90%;
}

.logo {
    font-size: 50px;
    padding-left: 28px;
    color: #FFF;
    height: 50px;
    position: absolute;
    top: -16px;
}

.link {
    float: right;
    margin-right: 10px;
    margin-top: 46px;
    padding-top: 10px;
}

.title_bar {
    background-color: rgb(174, 219, 174);
    height: 80px;
}

.mainarea {
    padding: 10px 0;
}

.index_content {
    white-space: pre-line;
    width: 80%;
    display: block;
    padding-left: 16px;
    word-wrap:break-word;
}

.menu {
    text-align: right;
    margin-right: 16%;
    margin-top: 5px;
}

.post {
    width: 80%;
    border: solid 1px;
    margin-left: 80px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.software_name {
    width: 65%;
    display: inline-block;
}

.written_by {
    width: 25%;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
